*{
box-sizing: border-box;
}

#chess{
    display: flex;
    flex-wrap: wrap;
    width: 806px;
    margin: auto;
    border: 3px solid #000;
}

.case{
    width: 100px;
    height: 100px;
    background-image: url(img/Free_Wood_Texture_09.jpg);
}

.case.caseGrise{
    background-image: url(img/Free_Wood_Texture_10.jpg);
}